<div class="timeline-item card mb-3">
  <div class="row no-gutters">
    <div class="col text-center p-3">
      <p class="font-weight-bold text-success">Upload photo</p>
      <button class="btn btn-outline-secondary border border-light" type="button" (click)="openPopUp()">
        <i class="fa fa-picture-o fa-2x"></i>
      </button>
    </div>
    <!-- render item  -->

  </div>
</div>

<div class="helper-container">
  <small><span class="text-muted">Format: JPG, JPGE, PNG.</span></small>
  <small><span class="text-muted">File size:up to 10 MB.</span></small>
</div>
