<div class="modal-header">
  <h6 class="modal-title">{{ title }}</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Pre-valid and valid coupons are listed</p>
  <hr>
  <p *ngIf="!items; else loadCouponTmp">Loading...</p>
  <ng-template #loadCouponTmp>
    <div class="card mb-3" *ngFor="let item of items">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img [src]="item.thumbnail" class="card-img" [alt]="item.title" default="/assets/150.png">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-success">{{ item.status === statusCoupon.ACTIVE ? "Valid" : "Pre-valid" }}</h5>
            <p class="card-text">{{ item.title }}</p>
            <p class="card-text"><small class="text-muted">Survey period: {{ item.startDate * 1000 | date:'MM/dd/yyyy HH:mm' }} - {{ item.endDate * 1000 | date:'MM/dd/yyyy HH:mm' }}</small></p>
            <button type="button" class="btn btn-outline-success" (click)="selectItem(item)">Select</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="helper-container">
    <small><span class="text-muted">Select a coupon.</span></small>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
  </div>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
