<div *ngIf="item">
  <div class="post-item card mb-3" [ngSwitch]="item.type">
    <!-- post type IMAGE -->
    <div class="row no-gutters" *ngSwitchCase="postType.IMAGE">
      <div class="col" *ngFor="let image of item.images">
        <img
          [src]="image.thumb"
          class="card-img"
          default="https://via.placeholder.com/150"
          alt=""
        />
      </div>
    </div>

    <!-- post type VIDEO -->
    <div class="row no-gutters" *ngSwitchCase="postType.VIDEO">
      <div class="col" style="max-width: 200px;">
        <video width="320" height="240" autoplay>
          <source src="/video/{{ item.video.thumb }}" type="video/mp4" />
          <source src="/video/{{ item.video.thumb }}" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <!-- post type COUPON -->
    <div class="row no-gutters" *ngSwitchCase="postType.COUPON">
      <div class="col-md-4">
        <img
          [src]="item?.coupon.thumbnail"
          class="card-img"
          alt="{{ item?.coupon.title }}"
          default="https://via.placeholder.com/150"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item?.coupon.title }}</h5>
          <p class="card-text">{{ item?.coupon.status }}</p>
          <p class="card-text">
            <small class="text-muted"
              >Start Date:
              {{ item?.coupon.startDate | datetimeSinceFormat }}</small
            >
            <small class="text-muted"
              >End Date: {{ item?.coupon.endDate | datetimeSinceFormat }}</small
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row no-gutters" *ngSwitchCase="postType.LINK">
      <div class="col-md-4">
        <img
          [src]="item?.link.thumbnail"
          class="card-img"
          alt="{{ item?.link.title }}"
          default="https://via.placeholder.com/150"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item?.link.title }}</h5>
          <p class="card-text">{{ item?.link.desc }}</p>
          <p class="card-text">
            <a href="{{ item?.link.url }}" target="_blank">Read more.</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row no-gutters" *ngSwitchCase="postType.STICKER">
      <div class="col">
        <img
          [src]="item?.sticker.url"
          class="card-img"
          alt="{{ item?.link.title }}"
          default="https://via.placeholder.com/150"
        />
      </div>
    </div>

    <div class="row no-gutters" *ngSwitchCase="postType.SURVEY">
      <div class="col-md-4">
        <img
          [src]="item?.survey.thumbnail"
          class="card-img"
          alt="{{ item?.survey.title }}"
          default="https://via.placeholder.com/150"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item?.survey.title }}</h5>
          <p class="card-text">{{ item?.survey.status }}</p>
          <p class="card-text">
            <small class="text-muted"
              >Start Date:
              {{ item?.survey.startDate | datetimeSinceFormat }}</small
            >
            <small class="text-muted"
              >End Date: {{ item?.survey.endDate | datetimeSinceFormat }}</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
