<div class="timeline-item card">
  <div class="row no-gutters" *ngIf="!survey; else renderItemTmp">
    <div class="col text-center p-3">
      <p class="font-weight-bold text-success">Select a survey</p>
      <button class="btn btn-outline-secondary border border-light" type="button" (click)="openPopUp()">
        <i class="fa fa fa-list fa-2x"></i>
      </button>
    </div>
  </div>

  <!-- render item  -->
  <ng-template #renderItemTmp>
    <div class="card border border-light timeline-itembody">
      <div class="row no-gutters">
        <span class="close" aria-label="Close" (click)="removeItem(survey)">
          &times;
        </span>
        <div class="col-md-4">
          <img [src]="survey.thumbnail" class="card-img" [alt]="survey.title" default="/assets/150.png">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ survey.title }}</h5>
            <p class="card-text"><small class="text-muted">Available til: {{ survey.startDate * 1000 | date:'MM/dd/yyyy HH:mm' }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
