<div class="timeline-item card mb-3">
  <div class="row no-gutters">
    <div class="col text-center p-3">
      <p class="font-weight-bold text-success">Upload video</p>
      <button class="btn btn-outline-secondary border border-light" type="button" type="button" (click)="openPopUp()">
        <i class="fa fa-play-circle-o fa-2x"></i>
      </button>
    </div>
    <!-- render item  -->

  </div>
</div>

<div class="helper-container">
  <small><span class="text-muted">Recommended Formats: MP4, M4V, MOV, AVI, WMV.</span></small>
  <small><span class="text-muted">File size: Up to 20 MB.</span></small>
  <small><span class="text-muted">Duration: Up to 5 minutes.</span></small>
</div>
