<form
  class="form-container frm_post"
  name="frm_post"
  (ngSubmit)="f.form.valid && onSavePublish(f)"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <h3>Timeline post</h3>
  </div>
  <hr class="mb-5" />
  <div class="form-row">
    <div class="form-group col">
      <button type="button" class="btn btn-secondary" (click)="onSaveDraft(f)" [disabled]="f.form.invalid">
        {{ btnSaveDraft }}
      </button>
    </div>
    <div class="form-group col text-right">
      <button type="submit" class="btn btn-success" [disabled]="f.form.invalid">{{ postModel.isPublishNow === 1 ? btnSubmit : 'Schedule' }}</button>
    </div>
  </div>

  <hr />

  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="text-right">Publish date:</label>
    </div>
    <div class="form-group col-md-10">
      <div class="form-group">
        <label><input type="radio" name="isPublishNow" [value]="1" [(ngModel)]="postModel.isPublishNow" />&nbsp;Publish now</label>
      </div>
      <div class="form-group form-inline">
        <div class="input-group">
        <label><input type="radio" name="isPublishNow" [value]="2" [(ngModel)]="postModel.isPublishNow" />&nbsp;</label>
        </div>
        <div class="input-group pr-2">
          <!-- https://stackoverflow.com/questions/45256076/angular-2-attr-disabled-is-not-working-for-div-when-i-try-to-iterate-ngfor-loop -->
          <input
            [attr.disabled]="postModel.isPublishNow === 1 ? 'disabled' : null"
            [disabled]="postModel.isPublishNow === 1"
            class="form-control"
            placeholder="mm/dd/yyyy"
            name="publishDate"
            #publishDate="ngModel"
            [(ngModel)]="postModel.publishDate"
            ngbDatepicker
            #d="ngbDatepicker"
            required
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              [attr.disabled]="postModel.isPublishNow === 1 ? 'disabled' : null"
              (click)="postModel.isPublishNow === 1 ? null : d.toggle()"
              type="button"
            >
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="input-group pr-2">
          <input
            [attr.disabled]="postModel.isPublishNow === 1 ? 'disabled' : null"
            [disabled]="postModel.isPublishNow === 1"
            class="form-control"
            placeholder="HH:mm"
            name="publishTime"
            required
            #publishTime="ngModel"
            [(ngModel)]="postModel.publishTime"/>

          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              [attr.disabled]="postModel.isPublishNow === 1 ? 'disabled' : null"
              [disabled]="postModel.isPublishNow === 1"
              type="button"
              [ngbPopover]="popTimePickerTemplate"
              [autoClose]="'outside'"
              placement="bottom"
            >
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </button>
          </div>

          <ng-template #popTimePickerTemplate>
            <ngb-timepicker class="timepicker" name="publishTime" [(ngModel)]="postModel.publishTime"></ngb-timepicker>
          </ng-template>

        </div>

        <div class="input-group">
          <span class="badge badge-pill badge-light">{{ GTMTime }}</span>
        </div>

      </div>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="card">
      <div class="card-header">
        <ul class="list-group list-group-horizontal list-post-types-item">
          <li class="list-group-item" [ngClass]="{'actived': item.id === postModel.postType}" *ngFor="let item of PostTypeItems" placement="top" [ngbTooltip]="item.name" (click)="loadComponent(item.id)">
            <i class="{{ item.icon }}"></i>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ng-container #contentContainer class="content-card-container"></ng-container>
      </div>
    </div>
  </div>

</form>

{{ postModel | json }}
